body {
    display: flex;
    flex-direction: column;
}

.full.height {
    flex-grow: 1;
}

footer {
    border-top: 1px solid red;
    width: 100%;
    flex-basis: 40px;
    color: var(--color-text-light);
    display: block;
}